<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- th:replace to use the head of our template -->
	<head th:replace="plantilla/template :: head"></head>
	
	<body class="container">	
		
		<!-- Navbar with 4 buttons inherited from (plantilla/template.html) -->
		<div th:replace="plantilla/template :: navbar"></div>	
		
		<br>
		
		<h4><b>Take Attendance</b></h4>
		<ul class="nav nav-tabs"></ul>
		
		<br>
		
		<a>Click on the <strong>Take attendance Now</strong> button to immediately take attendance. Click on a link below to take attendance for an existing event.</a>
		
		<br>
		<br>
		
		<!-- Button which redirects to the (add.html) view -->
		<a type="button"
				class="btn btn-outline-dark"
				href="/views/add" 
				th:text="'Take Attendance Now'"></a>

		<br>
		<br>
			
		<!-- Table which has the data of attendance -->
		<table class="table table-hover center">
  			<thead>
    			<tr>
					<th scope="col">Attendance Item</th>
     			    <th scope="col">Date</th>
      				<th scope="col">Present</th>
      				<th scope="col">Absent</th>
      				<th scope="col">Excused</th>
      				<th scope="col">Late</th>
      				<th scope="col">Left Early</th>
    			</tr>
  			</thead>
  			
  			<tbody>
  			
  				<!-- th:each that creates a loop that lists all attendances from object attendances -->
    			<tr th:each="a: ${attendance}">	
    			
    				<!-- Field which redirects to the "index.html" depending on the id of the row selected
    					 (a.name equals to name of the attendance) -->
    				<th scope="row" ><a
                        th:href="@{index/} + ${a.id}" th:text="${a.name}"></a></th>
                        
                    <!-- Field that use the method [checkDate()] to format the Date -->    
					<td th:text="${a.checkDate()}"></td>	
					
					<!-- (a.present equals to present of the attendance) -->	
					<td th:text="${a.present}"></td>
					
					<!-- (a.absent equals to absent of the attendance) -->
					<td th:text="${a.absent}"></td>
					
					<!-- (a.excused equals to excused of the attendance) -->
					<td th:text="${a.excused}"></td>
					
					<!-- (a.late equals to late of the attendance) -->
					<td th:text="${a.late}"></td>
					
					<!-- (a.leftEarly equals to leftEarly of the attendance) -->
					<td th:text="${a.leftEarly}"></td>		
				</tr>
  
  			</tbody>
		</table>
		
		<!-- Footer with 3 scripts of JavaScript -->
		<footer th:replace="plantilla/template :: footer"></footer>

	</body>
</html>