<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- th:replace to use the head of our template -->
	<head th:replace="template/template :: head"></head>
	
	<body class="container">	
		
		<!-- Navigation bar with 4 buttons inherited from (template/template.html) -->
		<div th:replace="template/template :: navbar"></div>	
		
		<br>
		
		<h4 style="font-weight: bold;" th:text="#{takeAttendance}"></h4>
		<ul class="nav nav-tabs"></ul>
		
		<br>
		
		<a th:text="#{attendanceDescriptionA}"></a><a style="font-weight: bold;" th:text="#{attendanceDescriptionB}"></a><a th:text="#{attendanceDescriptionC}"></a>
		<br>
		<br>
		
		<!-- Button which redirects to the (add.html) view -->
		<a type="button"
				class="btn btn-outline-dark"
				href="/views/add" 
				th:text="#{crearReunion}"></a>

		<br>
		<br>
			
		<!-- Table which has the data of attendance -->
		<table class="table table-hover center">
  			<thead>
    			<tr>
					<th scope="col" th:text="#{attendanceItem}"></th>
     			    <th scope="col" th:text="#{date}"></th>
      				<th scope="col" th:text="#{present}"></th>
      				<th scope="col" th:text="#{absent}"></th>
      				<th scope="col" th:text="#{excused}"></th>
      				<th scope="col" th:text="#{late}"></th>
      				<th scope="col" th:text="#{leftEarly}"></th>
    			</tr>
  			</thead>
  			
  			<tbody>
  			
  				<!-- th:each that creates a loop that lists all attendances from object attendances -->
    			<tr th:each="a: ${attendance}">	
    			
    				<!-- Field which redirects to the "index.html" depending on the id of the row selected
    					 (a.name equals to name of the attendance) -->
    				<th scope="row" ><a
                        th:href="@{index/} + ${a.id}" th:text="${a.name}"></a></th>
                        
                    <!-- Field that use the method [checkDate()] to get the formated Date -->    
					<td th:text="${a.checkDate()}"></td>	
					
					<!-- (a.present equals to present of the attendance) -->	
					<td th:text="${a.present}"></td>
					
					<!-- (a.absent equals to absent of the attendance) -->
					<td th:text="${a.absent}"></td>
					
					<!-- (a.excused equals to excused of the attendance) -->
					<td th:text="${a.excused}"></td>
					
					<!-- (a.late equals to late of the attendance) -->
					<td th:text="${a.late}"></td>
					
					<!-- (a.leftEarly equals to leftEarly of the attendance) -->
					<td th:text="${a.leftEarly}"></td>		
				</tr>
  
  			</tbody>
		</table>
		<a href="#" th:href="@{''(lang=es_ES)}" th:text="#{lang.es}">Español</a>
		<a href="#" th:href="@{''(lang=en_GB)}" th:text="#{lang.en}">Inglés</a>

		<!-- Footer with 3 scripts of JavaScript -->
		<footer th:replace="template/template :: footer"></footer>

	</body>
</html>