<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head"></head>

<body class="container">

	<!-- (header) Navbar with 3 buttons inherited from (plantilla/template.html) -->
	<header th:replace="plantilla/template :: navbar"></header>



	<div class="container">
		<br>
		<h2>Export</h2>
		<br>
		<form th:action="@{#}" th:object="${attendance}" method="POST">

			<label><input type="checkbox" th:value="include">Include
				columns in exported file for attendance comments</label> <br><br>
				<label><input
				type="checkbox" th:value="noInclude">Export blank atendance
				spreadsheet</label> <br><br> <input type="submit"
				value="Export Attendance Sheet">



		</form>


	</div>
	
	<hr>

	<div class="container">
		
		<h2>Import</h2>
		<br>
		<form th:action="@{#}" th:object="${attendance}" method="POST">


			<input type="file" th:name="imports"> <br><br>
			 
			<input type="submit" value="Import Attendance Sheet">



		</form>


	</div>




	<!-- Footer with a script of JavaScript -->
	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>