<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- th:replace to use the head of our template -->
	<head th:replace="template/template :: head"></head>
	
	<body class="container">	
		
		<!-- Navigation bar with 4 buttons inherited from (template/template.html) -->
		<div th:replace="template/template :: navbar"></div>	
		
		<br>
		
		<h4><b>Add Attendance Item</b></h4>
		<ul class="nav nav-tabs"></ul>
		
		<br>
		
		<!-- Form that redirects to (/views/update) on controller recovering the 
			 object by the id of the attendance -->
		<form th:action="@{/views/update}" th:object="${attendance}" method="post">
			<a>Attendance Item Name</a>
			<br>
			
			<input type="hidden" th:field="*{id}">
			
			<!-- Input that allows the user to edit the existing name of the attendance -->
			<input type="text"
				   th:field="*{name}"
				   placeholder="ex. Class Meeting 1">  			   
			<br>
			
			<!-- Text that is shown when an error exists on the field name -->	   
			<a class="form-text text-danger" 
				   th:if="${#fields.hasErrors('name')}"
				   th:errors="*{name}"
				   th:class="${#fields.hasErrors('name')}? error"></a>	 
			
				   	   
			<br>
			<br>
			
			<a>Attendance Item Date</a>
			
			<br>
			
			<!-- Input that allows the user to edit the existing local date time of the attendance -->
			<input type="datetime-local"
				   th:field="*{dateTime}">
				  
			<br>
				
			<!-- Text that is shown when an error exists on the field dateTime -->	   
			<a class="form-text text-danger" 
				   th:if="${#fields.hasErrors('dateTime')}"
				   th:errors="*{dateTime}"
				   th:class="${#fields.hasErrors('dateTime')}? error"></a>	
			
			<br>
			<br>
			
			<!-- Two buttons type submit to send the data from the 2 inputs to (/views/update/{value}), value=""
			     it is different depending on the button  -->
			<button type="submit" name="action" value="update" class="btn btn-outline-dark">Update</button>
			<button type="submit" name="action" value="cancelUpdate" class="btn btn-outline-dark">Cancel</button>
		</form>
		
		<!-- Footer with 3 scripts of JavaScript -->
		<footer th:replace="template/template :: footer"></footer>

	</body>
</html>