<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment = "head">
		<meta charset="UTF-8">
		<title>Asistencias</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/custom.css}">
	</head>

	<body>
	
		<div th:fragment = "navbar">
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link"
				aria-current="page" href="#">Add</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Attendance</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Attendance By Student</a></li>
			</ul>
		</div>
		
		<footer th:fragment = "footer">
			<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/bootstrap.popper.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		</footer>

	</body>

</html>